/*
 * TODO: Implement in Less
 */

html,
body{
    padding-top: 25px;
    height: 100%;
}

#footer {
    max-height: 80px;
    background-color: #f5f5f5;
}

#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
    /* Pad bottom by footer height */
    padding: 0 0 100px;
}

.tags
{
    margin-bottom: 10px;
    margin-top: -20px;
}

.tags span
{
    margin-right: -5px;
}

.tags span a
{
    
    font-size: 8px;
    line-height: 11px;
}
